<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- <link href="./public/admin.css" rel="stylesheet"> -->
    <title>Your Mental Health Test</title>
    <script type="text/javascript">
        function login(event) {
            var loginForm = document.loginForm;
            var userId = loginForm.id.value;
            var password = loginForm.pas.value;
        
            if (!userId || !password) {
                
                alert("아이디와 비밀번호를 모두 입력해주세요");
            } else {
                // loginForm.submit();
                // 기본 동작을 중단하고 alert만 표시
                event.preventDefault();
                alert("로그인 성공!"); 
            }
        }
    </script>
    
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <div id="desktop-1">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <p class="font-monospace">
                        CCL MENTAL
                    </p>
                </a>
            </div>
        </nav>
        <div class ="login_form", id="login_form">
            <p class="font-monospace">
                Administrator
                <br>
                Login
            </p>
            
            <div class="login_text">
                <p class="font-monospace">
                input your ID and password here
                </p>
            </div>
            
            <form name ="loginForm" method="post" id="loginForm" action="/administor">
            <input type = "text" id ="id" name="id"  class="form-control" placeholder="ID">
            <br>
            <input type = "password" id="pas"  class="form-control" name="pas" placeholder="password">
            <br>
            <br>
            <div class="button" id="button">
                <button id="login"  class="btn btn-primary btn-xs" style="width:100%" onclick="login()">
                    <p class="font-monospace">
                    LOGIN
                    </p>
                </button>
            </div>
            <div class="button" id="button">
                <button id="join"  class="form-control"><a href="https://sites.google.com/view/keylee">
                    <p class="font-monospace">
                    JOIN
                    </p>
                </a>
                </button>
               
            </div>
            </form>
        </div>
    </div>
        
    
    
</body>
</html>
